@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    background-color: snow;
}

#divtop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-radius: 1px;
    background: rgb(135, 211, 124);
    box-shadow: 2px 1px 1px 1px  rgb(135, 211, 124);
}

#navbar-ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

#navbar-home {
    float: left;
    left: 0px;
    top: 0px;
    margin-left: 780px;
    margin-top: -9px;
   
}



#navbar-logout {
    float: left;
    left: 0px;
    top: 0px;
    margin-left: 1200px;
    margin-top: -50px;
    
}

#logo {
    padding: 2px 42px 2px;
    color: darkgreen;
}

#searchBox {
    position: fixed;
    float: left;
    margin-left: 26px;
    margin-top: 5px;
    width: 450px;
    height: 28px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

#magnify-img {
    position: fixed;
    margin-left: 565px;
    margin-top: 3px;
    width: 40px;
    opacity: 0.8;
    cursor: pointer;
}

#Status-img {
    margin-left: 0px;
    margin-top: 0px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

#divStatus {
    position: relative;
    top: 80px;
    width: 500px;
    height: 150px;
    left: 240px;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    overflow: auto;
    background: rgba(210, 215, 211);
    padding-top: 0px;
    box-shadow: 1px 1px 1px 1px rgb(135, 211, 124);
}

#comment {
    width: 494px;
    height: 70px;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
}

#post-btn {
    width: 46px;
    height: 27px;
    float: right;
    margin-right: 6px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(236,236,236);
    background: rgb(135, 211, 124);
    font-size: 12px;
    color: white;
    padding: 2px;
    cursor: pointer;
}

#divAds{
    position: fixed;
    top: 80px;
    width: 300px;
    height: 350px;
    left: 800px;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    overflow: auto;
    background: rgba(210, 215, 211);
    padding-top: 0px;
    box-shadow: 1px 1px 1px 1px rgb(135, 211, 124);
}

main {
    position: relative;
    top: 100px;
    width: 500px;
    height: 800px;
    left: 240px;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    overflow: auto;
    background: rgba(210, 215, 211);
    padding-top: 0px;
    box-shadow: 1px 1px 1px 1px rgb(135, 211, 124);
}

.bodyContainer {
    margin: 0px;
}

#credit{
    float: right;
    right: 0;
    position: fixed
}

p {
    color: #555;
}

#divnav {
    position: absolute;
    top: 80px;
    margin-left: 0px;
    bottom: 0;
    height: 875px;
    width: 230px;
    overflow: auto;
    background: transparent;
    border-right: 1px solid rgb(135, 211, 124);
    box-shadow: 1px 1px 1px 1px rgb(135, 211, 124);
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}

h1 {
    font-size: 18px;
    color: white;
}

h4 {
    font-size: 13px;
   
    left: 0;
    padding-left: 2px;
    
}



/*IE6 fix*/

* html body {
    padding: 100px 0 0 230px;
}

* html main {
    height: 100%;
    width: 100%;
}