<!DOCTYPE html>
<html>
<head>
	<title>Cash Register</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl',function($scope){
   $scope.purchase = 0;
   $scope.cash = 0;
   $scope.change = 0;
   $scope.calculate = function() {
     $scope.change = $scope.cash - $scope.purchase;
   };
});
</script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <table>
        <tr>
            <td>Purchase</td>
            <td><input type="text" ng-model="purchase" /></td>
        </tr>
        <tr>
            <td>Cash</td>
            <td><input type="text" ng-model="cash" /></td>
        </tr>
        <tr>
            <td>Change</td>
            <td>{{ change }}</td>
        </tr>
        <tr>
            <td>VAT 7%</td>
            <td>{{ (purchase * 7 / 107).toPrecision(3) }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <button ng-click="calculate()">Calculate</button>
                <button>Clear</button>
            </td>            
        </tr>

    </table>
</body>
</html>