#outline_calculator{
	border-style: ridge;
    border-width: 3px;
    background-color: #FBF6D9;
}

#input_box{
	width: 98%;
	height: 80px;
	text-align: right;
	font-size: 40px;
	border-radius: 20px;
	border-width: 0px;
}

#plus_btn{
	height: 100%;
	background-color: white;
	border-radius: 5px;
	border-width: 1px;
}